<% if (dream.private == false) || (current_user == dream.user) %>

<!--	<%= link_to dream do %> -->

		<div class="dream white-panel highlighter">
			<div class="dream-left">
				<% if dream.user.avatar_file_name.nil? %>
					<div class="dream-avatar-default">
						<p><%= dream.user.username.first.upcase %></p>
					</div>						
				<% else %>
					<%= image_tag dream.user.avatar.url(:thumb) %>
				<% end %>
				<span><%= dream.dreamed_on.strftime("%^b") %></span><br />
				<span><%= dream.dreamed_on.strftime("%d") %></span><br/>
				<% if dream.dreamed_on.year != Time.now.year %>
					<span class="year"><%= dream.dreamed_on.strftime("%Y") %></span>
				<% end %>
			</div>
			<div class="dream-right">
				<div class="dream-right-top">
					<div class="dream-right-top1">
						<span class="dream-title"><h4><%= dream.title %></h4></span>

						<span class="dreamer1"><%= link_to dream.user.name, dream.user %></span>
						<span class="dreamer2"><%= link_to "@#{dream.user.username}", dream.user %></span>
					</div>
					<div class="dream-right-top2">
						<% if dream.impression == 2 %>
							<div class="big-dream">
								Big <%= icon('star') %>
							</div>
						<% elsif dream.impression == 3 %>
							<div class="huge-dream">
								Huge <%= icon('star') %>
							</div>
						<% end %>

						<% if dream.private %>
							<%= icon('lock') %>
						<% else %>
							<%= icon('unlock') %>
						<% end %>
					</div>
				</div>
				<span class="body"><%= simple_format(truncate(dream.body, length: 500, separator: ' ')) %></span>
				<% if comment_count(dream) > 0 %>
					<%= icon('comments') %>
					<%= pluralize(comment_count(dream), 'comment') %>
				<% end %>
			</div>
			<%= link_to "hey", dream, class: "block-link" %>
		</div>
<!--	<% end %> -->
<% end %>