<li>
	<div class="dream white-panel">
		<div class="dream-left">
			<span><%= dream.dreamed_on.strftime("%^b") %></span><br />
			<span><%= dream.dreamed_on.strftime("%d") %></span>
		</div>
		<div class="dream-right">
			<span class="dream-title"><h4><%= link_to dream.title, dream %></h4></span>
			<span class="dreamer1"><%= dream.user.username %></span>
			<span class="dreamer2">@filler</span>
			<span class="body"><%= simple_format(truncate(dream.body, length: 500, separator: ' ')) %></span>
		</div>
	</div>
</li>