<% if (dream.private == false) || (current_user == dream.user) %>





		<div class="dream">
			<div class="dream-left-left">
			<% div_id = "upvote_#{dream.id}" %>
			<div id="<%= div_id %>">				
				<% if user_signed_in? %>
					<% if current_user.voted_as_when_voted_for dream  %>
						<%= link_to like_dream_path(dream), method: :put, :id => "upvote-",:class => "vote-div vote-arrow", :remote => true do %>
							<%= image_tag('up_arrow_green.png') %>
						<% end %>
					<% else %>
						<%= link_to like_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true do %>
							<%= image_tag('up_arrow.png') %>
						<% end %>								
					<% end %>
				<% else %>
					<%= link_to like_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true do %>
						<%= image_tag('up_arrow.png') %>
					<% end %>				
				<% end %>
			</div>


				<% span_id_counter = "counter_#{dream.id}" %>
				<span id="<%= span_id_counter %>" class="vote-div vote-counter"><%= dream.get_upvotes.size - dream.get_downvotes.size %></span>


				<% div_id_downvote = "downvote_#{dream.id}" %>
				<div id="<%= div_id_downvote %>">						

					<% if user_signed_in? %>
						<% if current_user.voted_down_on? dream %>
							<%= link_to dislike_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true  do %>
								<%= image_tag('down_arrow_red.png') %>
							<% end %>
						<% else %>
							<%= link_to dislike_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true  do %>
								<%= image_tag('down_arrow.png') %>
							<% end %>					
						<% end %>
					<% else %>
						<%= link_to dislike_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true  do %>
							<%= image_tag('down_arrow.png') %>
						<% end %>
					<% end %>
				</div>	
				
			</div>
			<div class="dream-left">
				<%= link_to dream.user do %>
					<% if dream.user.avatar_file_name.nil? %>
						<div class="dream-avatar-default">
							<p><%= dream.user.username.first.upcase %></p>
						</div>						
					<% else %>
						<%= image_tag dream.user.avatar.url(:thumb) %>
					<% end %>
				<% end %>
			</div>
			<div class="dream-right">
				<div class="dream-right-top">
					<div class="dream-right-top1">
						<span class="dream-title small-font">
							<h4>
								<% if dream.user == current_user %>
									<%= link_to dream.title, dream %>
								<% else %>
									<%= link_to dream.title.gsub(/([@])\w+/, "@name"), dream %>
								<% end %>
								<% dream.emotions.each do |emotion| %>
									<% if emotion.id == 1 %>
										<%= image_tag("angry.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Angry") %>
									<% elsif emotion.id == 2 %>
										<%= image_tag("afraid.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Afraid") %>
									<% elsif emotion.id == 3 %>
										<%= image_tag("disgusted.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Disgusted") %>
									<% elsif emotion.id == 4 %>
										<%= image_tag("happy.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Happy") %>
									<% elsif emotion.id == 5 %>
										<%= image_tag("sad.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Sad") %>
									<% elsif emotion.id == 6 %>
										<%= image_tag("desiring.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Desiring") %>
									<% elsif emotion.id == 7 %>
										<%= image_tag("guilty.png", width: '20', height: '20', class: "emoticon-image", "data-toggle" => "tooltip", "data-container" => "body", title: "Guilty") %>
									<% end %>
								<% end %>
							</h4>
						</span>
						
						<span class="small-font">dreamed <%= time_ago_in_words(dream.dreamed_on) %> ago by</span>
						<span class="dreamer1 small-font"><%= link_to dream.user.name, dream.user %></span>
						<span class="dreamer2 small-font"><%= link_to "@#{dream.user.username}", dream.user %></span>
						<span class="small-font"> and submitted <%= time_ago_in_words(dream.created_at) %> ago</span>					
					</div>
					<div class="dream-right-top2">
						<% if dream.impression == 2 %>
							<div class="big-dream">
								Big <%= icon('star') %>
							</div>
						<% elsif dream.impression == 3 %>
							<div class="huge-dream">
								Huge <%= icon('star') %>
							</div>
						<% end %>

						<% if dream.private %>
							<%= icon('lock') %>
						<% else %>
							<%= icon('unlock') %>
						<% end %>
					</div>

				</div>
		
				<% if comment_count(dream) > 0 %>
					<%= link_to(dream, html_options = { :class => "comment-link" }) do %>
						<%= icon('comments') %>
						<%= pluralize(comment_count(dream), 'comment') %>
							<% if user_signed_in? %>
								<% if dream.notifications.where(user: current_user, seen: false).present? %>
									(<%= dream.notifications.where(user: current_user, seen: false).length %> new)
								<% end %>				
							<% end %>
					<% end %>		
				<% end %>
			</div>
		</div>

<!--	<%= link_to dream do %> -->
<!--

		<div class="dream white-panel highlighter">
			<div class="dream-left">
				<%= link_to dream.user do %>
					<% if dream.user.avatar_file_name.nil? %>
						<div class="dream-avatar-default">
							<p><%= dream.user.username.first.upcase %></p>
						</div>						
					<% else %>
						<%= image_tag dream.user.avatar.url(:thumb) %>
					<% end %>
				<% end %>
				<span><%= dream.dreamed_on.strftime("%^b") %></span><br />
				<span><%= dream.dreamed_on.strftime("%d") %></span><br/>
				<% if dream.dreamed_on.year != Time.now.year %>
					<span class="year"><%= dream.dreamed_on.strftime("%Y") %></span>
				<% end %>
			</div>
			<div class="dream-right">
				<div class="dream-right-top">
					<div class="dream-right-top1">
						<span class="dream-title"><h4><%= link_to dream.title, dream %></h4></span>

						<span class="dreamer1"><%= link_to dream.user.name, dream.user %></span>
						<span class="dreamer2"><%= link_to "@#{dream.user.username}", dream.user %></span>
					</div>
					<div class="dream-right-top2">
						<% if dream.impression == 2 %>
							<div class="big-dream">
								Big <%= icon('star') %>
							</div>
						<% elsif dream.impression == 3 %>
							<div class="huge-dream">
								Huge <%= icon('star') %>
							</div>
						<% end %>

						<% if dream.private %>
							<%= icon('lock') %>
						<% else %>
							<%= icon('unlock') %>
						<% end %>
					</div>

				</div>
				<span class="body"><%= simple_format(auto_link(truncate(dream.body, length: 500, separator: ' '), hashtag_url_base: hashtags_path+"/")) %></span>
				<% if comment_count(dream) > 0 %>
					<%= link_to(dream, html_options = { :class => "comment-link" }) do %>
						<%= icon('comments') %>
						<%= pluralize(comment_count(dream), 'comment') %>
							<% if user_signed_in? %>
								<% if dream.notifications.where(user: current_user, seen: false).present? %>
									(<%= dream.notifications.where(user: current_user, seen: false).length %> new)
								<% end %>				
							<% end %>
					<% end %>		
				<% end %>
			</div>
-->
<!--			<%= link_to "hey", dream, class: "block-link" %> -->
<!--
		</div>
-->
<!--	<% end %> -->
<% end %>