<% provide(:title, "Edit dream") %>

<h1>Edit dream</h1>
<%= form_for(@dream) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :dreamed_on %><br />
	<%= f.text_field :dreamed_on, "data-provide" => "datepicker", 
													"data-date-autoclose" => true,
													"data-date-today-btn" => "linked",
													"data-date-today-highlight" => true,
													"data-date-format" => "yyyy-mm-dd" %><br >

	<%= f.label :title %><br />
	<%= f.text_field :title %><br />

	<%= f.label :body %><br />
	<%= f.text_area :body %><br />
	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>