<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= impression_status().titleize %>
			<% unless params[:impression] %>
				All
			<% end %>
			dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<%= link_to dreams_path(query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Minimize"} do %>
			<%= icon('compress') %>
		<% end %>	
	</div>
	<%= render 'dreams/graph_full' %>
<% else %>

<% provide(:title, 'All dreams') %>


<div class="row">
	<div class ="col-md-3">
		<div id="profile-left-sidebar">
			<div>
				<% unless user_signed_in? %>

				<div class="login-box">
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :inline_form) do |f|%>
				
						<%= f.input :login, placeholder: 'username', input_html: { :class => "login-form username-login-form" } %>
						<%= f.input :password, placeholder: 'password', input_html: { :class => "login-form" } %>
			
	
					<div class="login-box-lower">
				    <%= f.check_box :remember_me %>
				    <span class ="login-small-words">
				    	<span style="padding-right: 5px;">remember me</span>
				    	<%= link_to "reset password", new_password_path(resource_name) %>
						</span>
				    <button type="submit" id="sidebar-login" class="btn btn-primary submit-btn-2">
				      sign in
				    </button>
				  </div>

				<% end %>
	

    <div id="login_error_explanation_wrapper" class="alert alert-danger" style="display:none;">
      <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <div id="login_error_explanation"></div>
    </div>		



    <span class="login-small-words" style="position: relative; top: 3px; color: #555555">sign in with</span>
   	<div id="oauth-links">
      <%= link_to(omniauth_authorize_path(resource_name, :google_oauth2), :class => "btn btn-login-2", :id => "google-login") do %>
        <%= icon('google') %>
      <% end %>
      <%= link_to(user_omniauth_authorize_path(:facebook), :class => "btn btn-login-2", :id => "facebook-login") do %>
        <%= icon('facebook') %>
      <% end %>         
      <%= link_to(omniauth_authorize_path(resource_name, :twitter), :class => "btn btn-login-2", :id => "twitter-login") do %>
        <%= icon('twitter') %>
      <% end %>
      <%= link_to(omniauth_authorize_path(resource_name, :yahoo), :class => "btn btn-login-2", :id => "yahoo-login") do %>
        <%= icon('yahoo') %>
      <% end %>
    </div>

    <%= link_to(new_registration_path(resource_name), { id: "signup_words" }) do %>
        register
    <% end %>    

   
</div>

				<% end %>
				<% if @dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to dreams_path(graph: true, query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Fullscreen"} do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<div id="profile-graph2">
						<%= render(
							partial: 'dreams/graph',
							locals: { graph_text: @graph_text }
						) %>
					</div>
				<% end %>

				<div id="emotion-listing">
					<%= render(
						partial: 'dreams/emotions',
						locals: { emotions: @emotions }
					) %>
				</div>	

				<div id="hash-listing">
					<%= render(
						partial: 'dreams/tags',
						locals: { hashes: @hashes }
					) %>
				</div>


				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">

		<div class="dream-tabs">
			<% if params[:sort] == "trending" %>
				<ul class="nav nav-tabs">
			    <li role="presentation" class="active"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>
			<% elsif params[:sort] == "submitted" %>	
				<ul class="nav nav-tabs">
			    <li role="presentation"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation" class="active"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>
			<% elsif params[:sort] == "dreamed" %>	
				<ul class="nav nav-tabs">
			    <li role="presentation"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation" class="active"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>		
			<% else %>	
				<ul class="nav nav-tabs">
			    <li role="presentation" class="active"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>										
			<% end %>
		</div>

		<div id ="filter-block">
			<%= form_for_filterrific @filterrific do |f| %>
			
					<%= f.text_field(
						:search,
						placeholder: 'Search...',
						class: 'filterrific-periodically-observed'
					) %>														
		
				
					<%= f.select(
						:with_emotion_id,
						@filterrific.select_options[:with_emotion_id],
						{ include_blank: 'Emotion' },
						class: "select-js"
					) %>
	

					<%= f.select(
						:impression,
						[['Normal', 1], ['Big', 2], ['Huge', 3]],
						{ include_blank: 'Impact' },
						class: "select-js"
					) %>



					<%= link_to(reset_filterrific_url) do %>
						<%= icon('times') %>
					<% end %>	

					<%= render(
						partial: 'dreams/list_count',
						locals: { dreams: @dreams }
					) %>			
					
	
				<div>
					<%# add an automated spinner to your form when the list is refreshed %>
					<%= render_filterrific_spinner %>
				</div>
		
			<% end %>


			<%= render(
				partial: 'dreams/list',
				locals: { dreams: @dreams, dreams2: @dreams2, page_number: @page_number }
			) %>
	
				<%= button_tag(:id => "load-more2", :class => "btn btn-primary") do %>
					<%= icon('plus') %>
					<span id="load-more-text">load more</span>
				<% end %>	
				

	</div>
</div>

<% end %>