<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= impression_status().titleize %>
			<% unless params[:impression] %>
				All
			<% end %>
			dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<%= link_to dreams_path(query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", title: "Minimize"} do %>
			<%= icon('compress') %>
		<% end %>	
	</div>
	<%= render 'dreams/graph_full' %>
<% else %>

<% provide(:title, 'All dreams') %>

<div class="row">
	<div class ="col-md-3">
		<div id="profile-left-sidebar">
			<div data-spy="affix" data-offset-top="245">
				<% if @dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to dreams_path(graph: true, query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", title: "Fullscreen"} do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<%= render 'dreams/graph' %>
				<% end %>
				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div>
			<h3 class="content-title">
				<% if params[:query] %>
					Dreams about <strong><%= params[:query] %></strong>
				<% else %>
					All dreams
				<% end %>
			</h3>
			<ul class="nav nav-pills nav-pills-inline" role="tablist">
				<% if params[:impression] == '2' %>
					<li><%= link_to "All", dreams_path(query: params[:query]) %></li>
					<li class="active"><%= link_to "Big", dreams_path(query: params[:query], impression: 2) %></li>
					<li><%= link_to "Huge", dreams_path(query: params[:query], impression: 3) %></li>
				<% elsif params[:impression] == '3' %>
					<li><%= link_to "All", dreams_path(query: params[:query]) %></li>
					<li><%= link_to "Big", dreams_path(query: params[:query], impression: 2) %></li>
					<li class="active"><%= link_to "Huge", dreams_path(query: params[:query], impression: 3) %></li>
				<% else %>
					<li class="active"><%= link_to "All", dreams_path(query: params[:query]) %></li>
					<li><%= link_to "Big", dreams_path(query: params[:query], impression: 2) %></li>
					<li><%= link_to "Huge", dreams_path(query: params[:query], impression: 3) %></li>
				<% end %>
			</ul>

			<% if current_user %>
				<%= link_to "Only my dreams", user_path(current_user.id, query: params[:query]), class: "btn btn-danger btn-square", id: "only-my-dreams-button" %>
			<% end %>

		</div>
		<ol class="list-unstyled dreams" id ="user-dreams">
			<%= render @dreams %>
		</ol>
		<!-- renderer parameter is needed by will_paginate-boostrap gem -->
		<%= will_paginate @dreams, renderer: BootstrapPagination::Rails %>
	</div>
</div>

<% end %>