<% provide(:title, @dream.title) %>

<!-- <span class="title"><h4><%= @dream.title %></h4></span>
<span class="body"><%= simple_format(@dream.body) %></span>
<span class="timestamp">
	Dreamed <%= time_ago_in_words(@dream.dreamed_on) %> ago.
	Dreamed on <%= @dream.dreamed_on %> .
</span>
<% if current_user == @dream.user %>
	<%= link_to "Edit", edit_dream_path(@dream.id) %>
	<%= link_to "Delete", @dream, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>  -->

	<div class="dream white-panel" id="indiv-dream">
		<div class="dream-left">
			<span><%= @dream.dreamed_on.strftime("%^b") %></span><br />
			<span><%= @dream.dreamed_on.strftime("%d") %></span>
		</div>
		<div class="dream-right">
			<span class="dream-title"><h4><%= @dream.title %></h4></span>
			<span class="dreamer1"><%= link_to @dream.user.name, @dream.user %></span>
			<span class="dreamer2"><%= link_to "@#{@dream.user.username}", @dream.user %></span>
			<span class="body"><%= simple_format(@dream.body) %></span>
			<% if current_user == @dream.user %>
				<%= link_to "Edit", edit_dream_path(@dream.id) %>
				<%= link_to "Delete", @dream, method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %> 
		</div>
	</div>