<% provide(:title, 'About' ) %>
<div id="home-top-panel" class="text-center">
	<div id="home-header">dreamly</div>	
	<div id="home-byline">the social dream journal app</div>
	<div id="home-byline2">
		free | private | social
	</div>
	<%= link_to(new_user_session_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-login'}) do %>
		<button type="button" id="signup-button" class="btn btn-primary btn-lg">
			<span>Sign up!</span>
		</button>
	<% end %>
</div>

<div class="home-panel1">
	Dreamly is a free social dream journal that allows you to keep track of your dreams and map your unconscious thoughts.
</div>

<div id="home-panel2">
	<div id="home-panel2-inner">
		<div id="panel2-1" class="col-md-3 col-md-offset-2 white-panel">
			<h3>Automatic word association</h3>
			<p>Discover hidden trends, patterns and associations in your unconscious mind.</p>
		</div>	
		<div id="panel2-2" class="col-md-3 col-md-offset-2 white-panel">
			<h3>Smartphone friendly</h3>
			<p>Journal your dreams without getting up from your bed! Dreamly was designed to be used with your smartphone - no need to download an app.</p>
			<%= image_tag("iphone.png", alt: "Mobile friendly") %>
		</div>
		<%= render 'shared/graph' %>
	</div>

</div>

<div class="home-panel3">
	<div class="home-panel3-inner">
		<div id="panel3-1" class="col-md-3 col-md-offset-2 white-panel">
			<h3><span class="glyphicon glyphicon-user"></span> Social</h3>
			<p>Follow the dreams of your friends and favorite celebrities. Share comments and interpretations.</p>
		</div>	
		<div id="panel3-2" class="col-md-3 col-md-offset-2 white-panel">
			<h3><span class="glyphicon glyphicon-eye-open"></span> Private</h3>
			<p>Dreams can reveal your deepest secrets, so we take privacy very seriously at Dreamly. You can choose to make a dream public or private at any time. Information from private dreams will never be shown to anyone except you. You can also use the @ character to censor any word within a public dream.</p>
		</div>
	</div>	
</div>

<div class="home-panel1">
	<p>Merrily, merrily, merrily, merrily;</p>
	<p>life is but a dream.</p>
</div>

<div class="home-panel3">
	<div class="home-panel3-inner">
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('smile-o') %></span> Emoticons</h3>
			<p>Dreamly uses a library of keywords to automatically tag dreams according to seven fundamental emotions (Happy, Sad, Afraid, Desiring, Angry, and Guilty).</p>
		</div>	
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('slack') %></span> Hashtags</h3>
			<p>Just like twitter, you can put a #hashtag before any word in a dream to categorize it. </p>
		</div>
	</div>	
</div>

<div class="home-panel3">
	<div class="home-panel3-inner">
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('ra') %></span> @Names</h3>
			<p>You can put the @ character before any word in your dream to 1) blur the word from public view and 2) track the word across multiple dreams. This is intended mainly to use to anonymyze and track the names of people, places, and things in your dreams.</p>
		</div>	
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('warning') %></span> Impact</h3>
			<p>Some dreams are trivial, but others are epic sagas revealing the depth and breadth of your soul with a cinematic storyline and vivid visuals. Dreamly lets you differentiate between the two by choosing an Impact level setting of Normal, Substantial, or Epic.</p>
		</div>
	</div>	
</div>

<div class="home-panel1">
	<p>Deep into that darkness peering, long I stood there, wondering, fearing, doubting, dreaming dreams no mortal ever dared to dream before.<p>
	<p>- Edgar Allan Poe</p>
</div>

<div class="home-panel3">
	<div class="home-panel3-inner">
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('ra') %></span> Voting</h3>
			<p>Users can upvote or downvote any public dream. The highest voted dreams will display at the top of the page. </p>
		</div>	
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('warning') %></span> Comments</h3>
			<p>Users can comment on any public dream. The most valuable and comments will be useful dream interpretations. </p>
		</div>
	</div>	
</div>

<div class="home-panel3">
	<div class="home-panel3-inner">
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('ra') %></span> Filter and Sort</h3>
			<p>You can sort dreams by “Trending”, “New”, or “Dreamed”. “Trending” uses an algorithm based on the dream’s voting score and time of submission, so that newer, top-voted dreams are displayed first.</p>
			<p>You can filter dreams by search term, emotion, and impact level.<p>
		</div>	
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('warning') %></span> Following</h3>
			<p>Just like twitter, you can follow other users and they can follow you.</p>
		</div>
	</div>	
</div>

<div class="home-panel1">
	<p>The future belongs to those who believe in the beauty of their dreams.<p>
	<p>- Eleanor Roosevelt</p>
</div>

<div class="home-panel3">
	<div class="home-panel3-inner">
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('ra') %></span> Notifications</h3>
			<p>You are notified when someone comments on your dream or a dream you have commented on, when someone follows you, or when someone you are following posts a dream. </p>
		</div>	
		<div class="col-md-3 col-md-offset-2 white-panel">
			<h3><%= icon('warning') %></span> Private messages</h3>
			<p>You can send a private message to any user by clicking the envelope button beneath their name. All of your conversations are shown in your <a href='http://dreamly.io/conversations'>inbox</a>. We encourage users to engage in social therapy via this messaging system. Dreams can act simultaneously as both therapist and patient, sharing their emotions and feelings, and drawing upon each others dreams for analysis.</p>
		</div>
	</div>	
</div>



<%= render 'layouts/footer' %>

