<% provide(:title, 'About') %>
<% provide(:description, 'A free, private, and/or social dream journal for tapping into your unconscious mind.') %>
<% provide(:keywords, 'online dream journal, dreams, forum, dream analysis, dream meaning, online diary, diary, dream means, dream dictionary, journal') %>

<div id="about-container">
	<!-- Section 1 -->
	<section id="intro" data-speed="0" data-type="background">
	 
	       	<div id="home-top-panel" class="text-center">
					<div id="home-header"><span style="font-weight: 700">dreamly</span></div>
					<div id="home-byline">a social dream journal for tapping into your unconscious mind</div>
			
					<div id="home-byline2">
						free | private | social
					</div>
					<%= link_to(new_registration_path(resource_name), { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-signup'}) do %>
						<button type="button" id="signup-button" class="btn btn-primary btn-lg">
							<span>Sign up!</span>
						</button>
					<% end %>
				</div>


	
	</section>
	<!-- Section 2 -->
	<section id="home" data-speed="4" data-type="background">
	    <div class="container">
				<h2 style="font-size: 40px; text-align: center; padding-bottom: 10px;">Why should I keep a dream journal?</h2>
				<div>
					<%= image_tag("http://upload.wikimedia.org/wikipedia/en/a/a8/The_Dress_%28viral_phenomenon%29.png", id: "dress-image") %>
				</div>
				<div style="font-size: 17px;">
					<p>Both your dreams and your waking life are governed by the same rule of perception: <span class="highlight-text">We don't see things as they are - we see them as we are."</span> Consider the case of <a href='http://en.wikipedia.org/wiki/The_dress_%28viral_phenomenon%29'>The Dress</a>. Looking at the exact same pixels on a screen, 57% of people see a black and blue dress, while 30% are convinced it is white and gold. What is happening is your <span class="highlight-text">perception is filling in the gaps</span>. Reality offers a stimulus and you construct an image "based on a true story."</p>
					<p>The only difference between dreams and waking life is that with dreams the gaps are bigger. In both <span class="highlight-text">you are constructing your own reality</span>, like coloring in the spaces in a coloring book.<p>
					<p>Reflecting on dreams allows you to take a closer look at this creative process. Everything is remembered in the unconscious. Exploring the unconscious brings you face to face with the keynotes behind the novel of your life: <span class="highlight-text">your inner desires, wishes, hopes and fears</span>.<p>
					<p>Keeping a dream journal benefits you in the following ways...</p>
				</div>
	    </div>
	</section>
	<hr>
	<!-- Section 3 -->
	<section id="about" data-speed="2" data-type="background">
	    <div class="container">
	    	<div class="col-md-4 center-text">
	    		<%= icon('rocket', '', class: 'big-icons', style: "color: #00CC66;") %>
	    		<h3>
	    			Creativity
	    		</h3>
	    		<p>
	    			Dreams are a fountain of artistic strokes of genius. The central ideas for The Terminator, Twilight and Frankenstein sprang fully formed from the creative dreams of their authors.
	    		</p>
	    	</div>
	    	<div class="col-md-4 center-text">
	    		<%= icon('lightbulb-o', '', class: 'big-icons', style: "color: #3366FF;") %>
	    		<h3>
	    			Problem Solving
	    		</h3>
	    		<p>
	    			Our brain works on solving problems while we sleep. The double-helix structure of DNA, the Theory of Relativity and the Periodic Table of Elements were all discovered from dreams.
	    		</p>
	    	</div>
	    	<div class="col-md-4 center-text">
	    		<%= icon('heart', '', class: 'big-icons', style: "color: #FF5050;") %>
	    		<h3>
	    			Therapeutic
	    		</h3>
	    		<p>
	    			Dreams open the doorway to dealing with unresolved emotions.
	    		</p>
	    	</div>	    		    	
	    </div>
	</section>
	<hr>
	<section id="map-section" data-speed="4" data-type="background">
		<div class="col-md-4" style="padding-left: 40px;">
			<h2>
				<%= icon('map-marker', '', class: 'big-icons', style: "color: #CC66FF;") %>
				Map your mind
			</h2>
			<p>Dreamly automatically creates a dynamic word graph for each user based on the key ideas and themes that reappear in their dreams. By linking words that appear together in the same dreams, you can discover hidden trends, patterns and associations in your unconscious mind.</p>

					<%= link_to(new_registration_path(resource_name), { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-signup'}) do %>
						<button type="button" id="signup-button" class="btn btn-primary btn-lg">
							<span>Sign up!</span>
						</button>
					<% end %>
			
		</div>
		<div id="graph-full" class="col-md-8">
		</div>

		<%= render 'shared/graph' %>
	</section>



</div>

			<div class="share-box">
			</div>	

			<!--
<%= icon('bed', '', class: 'big-icons') %>
<%= icon('send', '', class: 'big-icons') %>
<%= icon('smile-o', '', class: 'big-icons') %>
<%= icon('road', '', class: 'big-icons') %>
<%= icon('photo', '', class: 'big-icons') %>
<%= icon('paper-plane', '', class: 'big-icons') %>
<%= icon('paint-brush', '', class: 'big-icons') %>
<%= icon('star', '', class: 'big-icons') %>
<%= icon('plug', '', class: 'big-icons') %>
<%= icon('music', '', class: 'big-icons') %>
<%= icon('key', '', class: 'big-icons') %>
<%= icon('heart', '', class: 'big-icons') %>
<%= icon('flash', '', class: 'big-icons') %>
<%= icon('flask', '', class: 'big-icons') %>
<%= icon('eye', '', class: 'big-icons') %>
<%= icon('cube', '', class: 'big-icons') %>
<%= icon('cog', '', class: 'big-icons') %>
<%= icon('child', '', class: 'big-icons') %>
-->


<script>
var h = window.innerHeight - 45;
document.getElementById('intro').style.height = h + 'px';
//document.getElementById('map-section').style.height = window.innerHeight - 96 + 'px';



//$(document).ready(function(){
   // cache the window object
 //  $window = $(window);
 
//   $('section[data-type="background"]').each(function(){
     // declare the variable to affect the defined data-type
//     var $scroll = $(this);
                     
//      $(window).scroll(function() {
        // HTML5 proves useful for helping with creating JS functions!
        // also, negative value because we're scrolling upwards                             
//        var yPos = -($window.scrollTop() / $scroll.data('speed')); 
         
        // background position
//        var coords = '50% '+ yPos + 'px';
 
        // move the background
//        $scroll.css({ backgroundPosition: coords });    
//      }); // end window scroll
//   });  // end section function
//}); // close out script



</script>