<% provide(:title, 'FAQ' ) %>
<body data-spy="scroll" data-offset="55" data-target=".scrollspy">
<div class="row">
	<div class="col-md-9">
		<div class="faq-body">
			<div id="typical-dreams">
				<div class="content-header">Typical Dreams</div>
			
				<h2>Falling Dreams</h2>
				<p>Falling dreams can include dreams of planes crashing in flight or even dreams where nothing actually falls, but the fear of falling is present. These can be closely related to dreams of crashing a car or losing control of a vehicle in high speed. These dreams signify a loss of control or a struggle for control between two opposing elements in the psyche. There could be a conflict in the will, a lack of willpower, or a desire for more willpower.</p>
	
	
				<h2>Back-to-school Dreams</h2>
				<p>It is common to dream that you are back in school and have to take an important examination or final test. Usually, you are unprepared to take the test and anxious that you will fail and not achieve the required credits for graduation. Such dreams often anticipate an impending test or examination -- for example, a job interview or a blind date.</p>
	
		
				<h2>Chasing Dreams</h2>

				<p>Often when you dream of being chased, you have the feeling that you are moving inexplicably slowly, like your legs are pumping through a mass of jelly. These dreams can indicate the feeling of being hounded by external pressures or internal desires, or the wish to escape from precarious circumstances.</p>

	
	
				<h2>Flying Dreams</h2>

				<p>Dreams of flight can be the most pleasurable and exhilarating of experiences. In a lucid dream, where you realize that you are dreaming and you can do literally anything, many people choose to fly around and seek an attractive male or female. Flying dreams are generally positive and signify the creative freedom of the spirit soaring to new heights.</p>
		
	
				<h2>Snake Dreams</h2>
				<p>Snakes symbolize the insatiable human instinct for sex and knowledge. The serpent in the Garden of Eden tempts Eve to eat from the Tree of the Knowledge of Good and Evil. After Adam and Eve eat the fruit, they know and are ashamed of their nakedness. Consider the biblical use of the verb “to know.” “And Adam knew Eve his wife; and she conceived, and bare Cain.”</p>
			
			</div>
			<div class="content-header">Dream resources</div>
			<div id="dream-interpretation">
				<h2>Dream interpretation dictionary</h2>
				<p><%= link_to "Ten Thousand Dreams Interpreted", "http://nickm.com/dreams/" %></p>
				<p><%= link_to "Dream Moods Dream Dictionary", "http://www.dreammoods.com/dreamdictionary/" %></p>
			</div>
			<div id="lucid-dreaming">
				<h2>Lucid dreaming</h2>
				<p><%= link_to "lucidity.com", "http://www.lucidity.com/" %></p>
				<p><%= link_to "reddit.com/r/LucidDreaming", "http://www.reddit.com/r/LucidDreaming" %></p>
				<p><%= link_to "lucidipedia.com", "http://www.lucidipedia.com/" %></p>
			</div>		


			<div class="share-box">
			</div>	

		</div>
	</div>
	<div class="col-md-3 scrollspy">
	
		<ul class="nav nav-stacked faq-scrollspy" data-spy="affix">
			<li class="active"><a href="#typical-dreams">Typical dreams</a></li>
			<li><a href="#dream-interpretation">Dream interpretation dictionary</a></li>
			<li><a href="#lucid-dreaming">Lucid dreaming</a></li>
	
		</ul>

	</div>
</div>
<body>