<% unless comment.private && ( (current_user != comment.user) && (current_user != comment.dream.user) ) %>
	<div class="dream white-panel indiv-comment">
		<div class="dream-left">
			<% if comment.user.avatar_file_name.nil? %>
				<div class="dream-avatar-default">
					<p><%= comment.user.username.first.upcase %></p>
				</div>						
			<% else %>
				<%= image_tag comment.user.avatar.url(:thumb) %>
			<% end %>					
		</div>
		<div class="comment-right">
			<div class="dream-right-top">
				<div class="dream-right-top1">
					<%= link_to comment.user do %>
						<span class="dreamer1"><%= comment.user.name %></span>
						<span class="dreamer2">@<%= comment.user.username %></span>
					<% end %>

				</div>
				<div class="dream-right-top2">
					<% if comment.private %>
						<%= icon('lock') %>
					<% else %>
						<%= icon('unlock') %>
					<% end %>
				</div>
			</div>

			<div class="dream-info-small">
				<span class="small-font">submitted <%= time_ago_in_words(comment.created_at) %> ago</span>		
			</div>			

			<span class="comment-body"><%= simple_format(comment.body) %></span>
			<% if current_user == comment.user %>
				<% if comment.commentable_type == "Dream" %>
					<%= link_to(edit_dream_comment_path(comment.commentable.id, comment.id), { :class => 'edit-link' }) do %>
						edit
					<% end %>
				<% elsif comment.commentable_type == "Article" %>
					<%= link_to(edit_article_comment_path(comment.commentable.id, comment.id), { :class => 'edit-link' }) do %>
						edit
					<% end %>				
				<% end %>

				<%= link_to([comment.commentable, comment], method: :delete, data: { confirm: "Are you sure?" }, class: 'edit-link') do %>
					delete
				<% end %>

			<% end %> 
		</div>
	</div>
<% end %>