	
	<div>



				<div>
			
						<h1>
							<span class="article-title">				
								<%= link_to article do %>
									<%= article.title %>
									<% if current_user && current_user.admin? %>
										<% unless article.published %>
											(not published)
										<% end %>
									<% end %>
								<% end %>
							</span>
						</h1>
			
					
					<p class="article-byline">
						<%= link_to article do %>
							<%= icon('clock-o') %>
							<%= article.publish_date.strftime("%^B") %>
							<%= article.publish_date.strftime("%d") %>,
							<%= article.publish_date.strftime("%Y") %>
						
							&nbsp;&nbsp;&nbsp;&nbsp;
							
						
							<%= icon('user') %>
							<%= article.author %>
							&nbsp;&nbsp;&nbsp;&nbsp;

							<%= icon('comments') %>
							<%= pluralize(article.comments.length, 'comment') %>
						<% end %>
						
					</span>			
				</div>



			<%= simple_format(truncate(article.body, length: 500, escape: false)) %>
			
			<%= link_to "Continue reading...", article, class: "article-continue-link" %>
		

	</div>

	<hr>
