	
	<div>



				<div>
			
						<h1>				
							<%= link_to article.title, article %>
							<% if current_user && current_user.admin? %>
								<% unless article.published %>
									(not published)
								<% end %>
							<% end %>
						</h1>
			
					
					<p class="article-byline">
						<%= link_to article do %>
							<%= icon('clock-o') %>
							<%= article.created_at.strftime("%^B") %>
							<%= article.created_at.strftime("%d") %>,
							<%= article.created_at.strftime("%Y") %>
						<% end %>
						&nbsp;&nbsp;&nbsp;&nbsp;
						
						<%= link_to article.user do %>
							<%= icon('user') %>
							<%= article.user.name %>
						<% end %>
						
					</span>			
				</div>



			<%= simple_format(truncate(article.body, length: 500, escape: false)) %>
			
			<%= link_to "Continue reading...", article, class: "article-continue-link" %>
			<hr>

	</div>


