<div class="panel panel-default white-panel" id="first-dream">
  <div class="panel-heading">
    <h3 class="panel-title">Edit article</h3>
  </div>
  <div class="panel-body">

    <%= simple_form_for(@article, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f| %>

      <div class="btn-group btn-toggle" data-toggle="buttons">
        <% if @article.published? %>
          <label class="btn btn-default">
            <input type="radio" name="article[published]" value="false"> Not published
          </label>
          <label class="btn btn-default active">
            <input type="radio" name="article[published]" value="true" checked> Published
          </label>
        <% else %>
          <label class="btn btn-default active">
            <input type="radio" name="article[published]" value="false" checked> Not published
          </label>
          <label class="btn btn-default">
            <input type="radio" name="article[published]" value="true"> Published
          </label>        
        <% end %>
      </div>

      <%= f.input :author, input_html: { id: "dream-title-textarea" } %>
      <%= f.input :publish_date %>
      <%= f.input :title, input_html: { id: "dream-title-textarea" } %>


<%= f.input :body, placeholder: 'Mark up using html tags.', required: false, input_html: { id: "dream-body-textarea2" } %>


    <script>
      $(function() {
          $('#dream-body-textarea2').editable({inlineMode: false})
      });


  </script>

    
    <button type="submit" class="btn btn-primary btn-square">
      Save
    </button>
    <% end %>
  </div>


  

</div>