	<% provide(:title, @article.title) %>

	<div class="row">

		<div class="col-md-9">
			<div class="article">

				<div>
			
						<h1>				
							<%= @article.title %>
						</h1>
			
					
					<p class="article-byline">
						<%= link_to @article do %>
							<%= icon('clock-o') %>
							<%= @article.created_at.strftime("%^B") %>
							<%= @article.created_at.strftime("%d") %>,
							<%= @article.created_at.strftime("%Y") %>
						<% end %>
						&nbsp;&nbsp;&nbsp;&nbsp;
						
						<%= link_to @article.user do %>
							<%= icon('user') %>
							<%= @article.user.name %>
						<% end %>
						
					</span>			
				</div>	
				<%= simple_format(@article.body) %>	


					<% if current_user && current_user.admin? %>
						<%= link_to(edit_article_path(@article.id), class: 'edit-link') do %>
							edit
						<% end %>

						<%= link_to(@article, method: :delete, data: { confirm: "Are you sure?" }, class: 'edit-link') do %>
							delete
						<% end %>

					<% end %> 
	
</div>
</div>
</div>