
<div id="filterrific_results">

	<% dreams.each do |dream| %>

		<% if (dream.private == false) || (current_user == dream.user) %>


				<div class="dream">
					<div class="dream-left-left">
					<% if dream.private %>
						<%= icon('lock') %>
					<% else %>
						<% div_id = "upvote_#{dream.id}" %>
						<div id="<%= div_id %>">				
							<% if user_signed_in? %>
								<% if current_user.voted_as_when_voted_for dream  %>
									<%= link_to like_dream_path(dream), method: :put, :id => "upvote-",:class => "vote-div vote-arrow", :remote => true do %>
										<div class="up_arrow_green"></div>
									<% end %>
								<% else %>
									<%= link_to like_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true do %>
										<div class="up_arrow"></div>
									<% end %>								
								<% end %>
							<% else %>
								<%= link_to like_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true do %>
									<div class="up_arrow"></div>
								<% end %>				
							<% end %>
						</div>


							<% span_id_counter = "counter_#{dream.id}" %>
							<span id="<%= span_id_counter %>" class="vote-div vote-counter"><%= dream.get_upvotes.size - dream.get_downvotes.size %></span>


							<% div_id_downvote = "downvote_#{dream.id}" %>
							<div id="<%= div_id_downvote %>">						

								<% if user_signed_in? %>
									<% if current_user.voted_down_on? dream %>
										<%= link_to dislike_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true  do %>
											<div class="down_arrow_red"></div>
										<% end %>
									<% else %>
										<%= link_to dislike_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true  do %>
											<div class="down_arrow"></div>
										<% end %>					
									<% end %>
								<% else %>
									<%= link_to dislike_dream_path(dream), method: :put, :class => "vote-div vote-arrow", :remote => true  do %>
										<div class="down_arrow"></div>
									<% end %>
								<% end %>
							</div>	
						
						<% end %>

					</div>


					<div class="dream-left">
						<% html = Nokogiri::HTML.fragment(dream.body) %>
						<% image = html.css('img').map{ |i| i['src'] } %>
						<%= link_to dream.user do %>
							<% if image.empty? %>
								<% if dream.user.avatar_file_name.nil? %>
									<div class="dream-avatar-default">
										<p><%= dream.user.username.first.upcase %></p>
									</div>						
								<% else %>
									<%= image_tag dream.user.avatar.url(:thumb) %>
								<% end %>
							<% else %>
								<%= image_tag(image[0], size: "48") %>
							<% end %>
						<% end %>
					</div>

					<div class="dream-right">
						<div class="dream-right-top">
							<div class="dream-right-top1">
								<span class="dream-title small-font">
										<% if dream.user == current_user %>
											<% if dream.impression == 2 %>
												<%= link_to dream.title, dream, :class => "big-dream-link" %>
											<% elsif dream.impression == 3 %>
												<%= link_to dream.title, dream, :class => "huge-dream-link" %>
											<% else %>
												<%= link_to dream.title, dream %>
											<% end %>
										<% else %>
											<% if dream.impression == 2 %>
												<%= link_to dream.title.gsub(/([@])\w+/, "@<span class='censored'>censored</span>").html_safe, dream, :class => "big-dream-link" %>
											<% elsif dream.impression == 3 %>
												<%= link_to dream.title.gsub(/([@])\w+/, "@<span class='censored'>censored</span>").html_safe, dream, :class => "huge-dream-link" %>
											<% else %>
												<%= link_to dream.title.gsub(/([@])\w+/, "@<span class='censored'>censored</span>").html_safe, dream %>
											<% end %>										
											
										<% end %>

										<% dream.emotions.each do |emotion| %>
											<% if emotion.id == 1 %>
												<div class="angry emoticon-image" data-toggle="tooltip" data-container="body" title="Angry" ></div>
											<% elsif emotion.id == 2 %>
												<div class="afraid emoticon-image" data-toggle="tooltip" data-container="body" title="Afraid" ></div>
											<% elsif emotion.id == 3 %>
										
												<div class="disgusted emoticon-image" data-toggle="tooltip" data-container="body" title="Disgusted" ></div>
											<% elsif emotion.id == 4 %>
								
												<div class="happy emoticon-image" data-toggle="tooltip" data-container="body" title="Happy" ></div>
											<% elsif emotion.id == 5 %>
										
												<div class="sad emoticon-image" data-toggle="tooltip" data-container="body" title="Sad" ></div>
											<% elsif emotion.id == 6 %>
									
												<div class="desiring emoticon-image" data-toggle="tooltip" data-container="body" title="Desiring" ></div>
											<% elsif emotion.id == 7 %>
						
												<div class="guilty emoticon-image" data-toggle="tooltip" data-container="body" title="Guilty" ></div>
											<% end %>
										<% end %>
								</span>
								<div class="dream-info-small">								
									<span class="small-font">dreamed <%= time_ago_in_words(dream.dreamed_on) %> ago by</span>
									<span class="dreamer1 small-font"><%= link_to dream.user.name, dream.user %></span>
									<span class="dreamer2 small-font"><%= link_to "@#{dream.user.username}", dream.user %></span>
									<span class="small-font"> and submitted <%= time_ago_in_words(dream.created_at) %> ago</span>		
								</div>			
							</div>
					

						</div>
						<div class="dream-info-small">
							<% if comment_count(dream) > 0 %>
								<%= link_to(dream, html_options = { :class => "comment-link" }) do %>
									<%= pluralize(comment_count(dream), 'comment') %>
										<% if user_signed_in? %>
											<% if dream.notifications.where(user: current_user, seen: false).present? %>
												(<%= dream.notifications.where(user: current_user, seen: false).length %> new)
											<% end %>				
										<% end %>
								<% end %>		
							<% end %>
						</div>
					</div>
				</div>

		<% end %>

	<% end %>

<%= will_paginate @dreams, renderer: BootstrapPagination::Rails %>
</div>


