<!--
<%= link_to(user) do %>
	<div id="users-dashboard" class="dashboard white-panel highlighter user-index-div">
		<div class="user-index-topper">
			<% if user.avatar_file_name.nil? %>
				<div class="user-index-avatar-default">
					<p><%= user.username.first.upcase %></p>
				</div>			
			<% else %>
				<div class="user-index-avatar">
					<%= image_tag user.avatar.url(:medium) %>
				</div>
			<% end %>
			<div class="dashboard-usernames">
				<div class="index-usernames-name">
					<%= user.name %>
				</div>
				<div class="dashboard-usernames-handle">
					@<%= user.username %>
				</div>
			</div> 
		</div>
		<div class="user-index-stats">
			<div class="index-stats-left">
				<span class="stat-header">DREAMS</span> <br />
				<span class="stat-number"><%= user.dreams.count %></span>			
			</div>

			<div class="dashboard-stats-right">
				<span class="stat-header">COMMENTS</span> <br />
				<span class="stat-number"><%= user.comments.count %></span>	
			</div>

		</div>

	</div>
<% end %>
-->
	

	
			<div id="users-dashboard" class="dashboard white-panel dashboard-avatar-container">
				<div class ="index-upper-background">
				</div>
				

					<% if current_user == user %>
						<%= link_to user do %>
							<% if user.avatar_file_name.nil? %>
								<div class="dashboard-avatar-default user-index-avatar-default2">
									<p><%= user.username.first.upcase %></p>
								</div>
							<% else %>
								<div class="dashboard-avatar">
									<%= image_tag user.avatar.url(:medium), class: "img-center" %>
								</div>
							<% end %>
						<% end %>
					<% else %>
						<%= link_to user do %>
							<% if user.avatar_file_name.nil? %>
								<div class="dashboard-avatar-default user-index-avatar-default2">
									<p><%= user.username.first.upcase %></p>
								</div>
							<% else %>
								<div class="dashboard-avatar">
									<%= image_tag user.avatar.url(:medium), class: "img-center" %>
								</div>
							<% end %>
						<% end %>
					<% end %>
				
				<div class="dashboard-usernames black-links">
					<div class="dashboard-usernames-name">
						<%= link_to user.name, user %>
					</div>
					<div class="dashboard-usernames-handle">
						<%= link_to "@#{user.username}", user %>
					</div>
				</div> 
				<div class="dashboard-stats">
					<div class="dashboard-stats-left">
						<%= link_to user do %>
							<span class="stat-header">DREAMS</span> <br />
							<span class="stat-number"><%= user.dreams.count %></span> <br />
						<% end %>
						<%= link_to following_user_path(user) do %>
							<span class="stat-header">FOLLOWING</span> <br />
							<% following_id = "following_#{user.id}" %>
							<span id="<%= following_id %>" class="stat-number"><%= user.following.count %></span>
						<% end %>
					</div>
					<div class="dashboard-stats-right">
						<span class="stat-header">COMMENTS</span> <br />
						<span class="stat-number"><%= user.comments.count %></span> <br />
						<%= link_to followers_user_path(user) do %>
							<span class="stat-header">FOLLOWERS</span> <br />
							<% followers_id = "followers_#{user.id}" %>
							<span id="<%= followers_id %>" class="stat-number"><%= user.followers.count %></span>
						<% end %>			
					</div>

				</div>
				<% if user_signed_in? %>
					<% @user = user %>
					<%= render 'users/follow_form' %>

				<% end %>
			</div>
