<%= link_to(user) do %>
	<div id="users-dashboard" class="dashboard white-panel highlighter user-index-div">
		<div class="user-index-topper">
			<% if user.avatar_file_name.nil? %>
				<div class="user-index-avatar-default">
					<p><%= user.username.first.upcase %></p>
				</div>			
			<% else %>
				<div class="user-index-avatar">
					<%= image_tag user.avatar.url(:medium) %>
				</div>
			<% end %>
			<div class="dashboard-usernames">
				<div class="index-usernames-name">
					<%= user.name %>
				</div>
				<div class="dashboard-usernames-handle">
					@<%= user.username %>
				</div>
			</div> 
		</div>
		<div class="user-index-stats">
			<div class="dashboard-stats-left">
				<span class="stat-header">DREAMS</span> <br />
				<span class="stat-number"><%= user.dreams.count %></span>
			</div>
	<!--
			<div class="dashboard-stats-right">
				<span class="stat-header">FOLLOWING</span> <br />
				<span class="stat-number">11</span>
			</div>
	-->
		</div>

	</div>
<% end %>