<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= @user.name %>'s <%= impression_status() %> dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<div id="full-screen-icon" rel="tooltip" data-toggle="tooltip" data-container="body" title="Minimize">
			<%= link_to(user_path(@user.id, query: params[:query], impression: params[:impression])) do %>
				<%= icon('compress') %>
			<% end %>
		</div>		
	</div>
	<%= render 'users/graph_full' %>
<% else %>

<% provide(:title, @user.username) %>

<div class="row">
	<div class ="col-md-3 shave-right">
		<div id="profile-left-sidebar">
			<div class="dashboard white-panel dashboard-avatar-container">
				<div class ="profile-upper-background">
				</div>
				
<!--					<%= gravatar_for @user %>	-->
					<% if current_user == @user %>
						<%= link_to edit_user_registration_path do %>
							<% if @user.avatar_file_name.nil? %>
								<div class="dashboard-avatar-default">
									<p><%= @user.username.first.upcase %></p>
								</div>
							<% else %>
								<div class="dashboard-avatar">
									<%= image_tag @user.avatar.url(:medium), class: "img-center" %>
								</div>
							<% end %>
						<% end %>
					<% else %>
						<% if @user.avatar_file_name.nil? %>
							<div class="dashboard-avatar-default">
								<p><%= @user.username.first.upcase %></p>
							</div>
						<% else %>
							<div class="dashboard-avatar">
								<%= image_tag @user.avatar.url(:medium), class: "img-center" %>
							</div>
						<% end %>
					<% end %>
				
				<div class="dashboard-usernames black-links">
					<div class="dashboard-usernames-name">
						<%= link_to @user.name, @user %>
					</div>
					<div class="dashboard-usernames-handle">
						<%= link_to "@#{@user.username}", @user %>
					</div>
				</div> 
				<div class="dashboard-stats">
					<div class="dashboard-stats-left">
						<%= link_to @user do %>
							<span class="stat-header">DREAMS</span> <br />
							<span class="stat-number"><%= @user.dreams.count %></span>
						<% end %>

					</div>
					<div class="dashboard-stats-middle">
						<%= link_to following_user_path(@user) do %>
							<span class="stat-header">FOLLOWING</span> <br />
							<% following_id = "following_#{@user.id}" %>
							<span id="<%= following_id %>" class="stat-number"><%= @user.following.count %></span>
						<% end %>		
					</div>					
					<div class="dashboard-stats-right">
						<%= link_to followers_user_path(@user) do %>
							<span class="stat-header">FOLLOWERS</span> <br />
							<% followers_id = "followers_#{@user.id}" %>
							<span id="<%= followers_id %>" class="stat-number"><%= @user.followers.count %></span>
						<% end %>			
					</div>

				</div>
				<%= render 'follow_form' if user_signed_in? %>
			</div>
	
	<!--
			<div data-spy="affix" data-offset-top="240">
	-->
			<div>
				<% if @user.dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to(user_path(@user.id, graph: true, query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Fullscreen"}) do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<%= render 'users/graph' %>
				<% end %>

					<% if @user == current_user %>

						<% @user.hash_freq.each do |hashtag_id, freq| %>
							<%= link_to user_path(@user.id, hashtag: Hashtag.find(hashtag_id).name), { :class => "btn user-hash-link hashtag-color" } do %>
								<%= Hashtag.find(hashtag_id).name %>
								(<%= freq %>)
							<% end %>
						<% end %>					

					<% else %>
			
						<% @user.hash_freq_public.each do |hashtag_id, freq| %>
							<%= link_to user_path(@user.id, hashtag: Hashtag.find(hashtag_id).name), { :class => "btn user-hash-link hashtag-color" } do %>
								<%= Hashtag.find(hashtag_id).name %>
								(<%= freq %>)
							<% end %>
						<% end %>

					<% end %>	

	
				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 shave-left">
			<div class="right-content">
				<% if @user.dreams.any? %>
					<div class="header-box">
						<% if params[:query] %>
							<h3 class="content-title">Results for <strong><%= params[:query] %></strong></h3>
						<% elsif params[:hashtag] %>
							<h3 class="content-title">#<%= params[:hashtag] %></h3>
						<% elsif @user == current_user %>
							<h3 class="content-title">My dreams</h3>
						<% else %>
							<h3 class="content-title"><%= @user.username %>'s dreams</h3>
						<% end %>
						<ul class="nav nav-pills nav-pills-inline" role="tablist">
							<% if params[:impression] == '2' %>
								<li><%= link_to "All", user_path(@user.id, query: params[:query]) %></li>
								<li class="active"><%= link_to "Big", user_path(@user.id, query: params[:query], impression: 2) %></li>
								<li><%= link_to "Huge", user_path(@user.id, query: params[:query], impression: 3) %></li>
							<% elsif params[:impression] == '3' %>
								<li><%= link_to "All", user_path(@user.id, query: params[:query]) %></li>
								<li><%= link_to "Big", user_path(@user.id, query: params[:query], impression: 2) %></li>
								<li class="active"><%= link_to "Huge", user_path(@user.id, query: params[:query], impression: 3) %></li>
							<% else %>
								<li class="active"><%= link_to "All", user_path(@user.id, query: params[:query]) %></li>
								<li><%= link_to "Big", user_path(@user.id, query: params[:query], impression: 2) %></li>
								<li><%= link_to "Huge", user_path(@user.id, query: params[:query], impression: 3) %></li>
							<% end %>
						</ul>
					</div>
					<ol class="list-unstyled dreams" id ="user-dreams">
						<%= render @dreams %>
					</ol>
					<!-- renderer parameter is needed by will_paginate-boostrap gem -->
					<%= will_paginate @dreams, renderer: BootstrapPagination::Rails %>
				<% elsif current_user == @user %>
					<%= render 'dreams/firstnew' %>
				<% end %>
			</div>
	</div>
</div>

<% end %>