<% provide(:title, @user.username) %>

<div class="row">
	<div class ="col-xs-3">
		<div id="profile-left-sidebar" data-spy="affix">
			<div class="dashboard white-panel">
				<div class="dashboard-avatar">
					<%= gravatar_for @user %>
				</div>
				<div class="dashboard-usernames">
					<div class="dashboard-usernames-name">
						<%= @user.name %>
					</div>
					<div class="dashboard-usernames-handle">
						@<%= @user.username %>
					</div>
				</div> 
				<div class="dashboard-stats">
					<div class="dashboard-stats-left">
						<span class="stat-header">DREAMS</span> <br />
						<span class="stat-number"><%= @user.dreams.count %></span>
					</div>
<!--
					<div class="dashboard-stats-right">
						<span class="stat-header">FOLLOWING</span> <br />
						<span class="stat-number">11</span>
					</div>
-->
				</div>

			</div>
			<% if @user.dreams.any? %>
				<div id="profile-graph" class="white-panel">
				</div>
				<%= render 'users/graph' %>
			<% end %>
			<div id="links-panel" class="white-panel">
				<%= link_to "Home", root_path %>
				<%= link_to "About", about_path %>
				<%= link_to "Contact", contact_path %>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
		<% if @user.dreams.any? %>
			<h3 class="content-title">Dreams</h3>
			<ol class="list-unstyled dreams" id ="user-dreams">
				<%= render @dreams %>
			</ol>
			<!-- renderer parameter is needed by will_paginate-boostrap gem -->
			<%= will_paginate @dreams, renderer: BootstrapPagination::Rails %>
		<% elsif current_user == @user %>
			<%= render 'dreams/firstnew' %>
		<% end %>
	</div>
</div>