<% provide(:title, @user.username) %>

<div class="row">
	<div class ="col-xs-3">
		<div id="profile-left-sidebar" data-spy="affix">
			<div id="dashboard" class="white-background">
				<div id="dashboard-avatar">
					<%= gravatar_for @user %>
				</div>
				<div id="dashboard-usernames">
					<div id="dashboard-usernames-name">
						<%= link_to @user.username, @user %>
					</div>
					<div id = "dashboard-usernames-handle">
						<%= link_to "@filler", @user %>
					</div>
				</div> 
				<div id="dashboard-stats">
					<div id ="dashboard-stats-left">
						<span class="stat-header">DREAMS</span> <br />
						<span class="stat-number"><%= @user.dreams.count %></span>
					</div>
					<div id ="dashboard-stats-right">
						<span class="stat-header">FOLLOWING</span> <br />
						<span class="stat-number">11</span>
					</div>
				</div>
			</div>
			<div id="profile-graph" class="white-background">
			</div>
			<%= render 'users/graph' %>
		</div>
	</div>
	<div class="col-xs-9">
		<% if @user.dreams.any? %>
			<span class="content-title"><h3>Dreams</h3></span>
			<ol class="list-unstyled dreams" id ="user-dreams">
				<%= render @dreams %>
			</ol>
			<!-- renderer parameter is needed by will_paginate-boostrap gem -->
			<%= will_paginate @dreams, renderer: BootstrapPagination::Rails %>
		<% end %>
	</div>
</div>