

<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= @user.name %>'s <%= impression_status() %> dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<div id="full-screen-icon" rel="tooltip" data-toggle="tooltip" data-container="body" title="Minimize">
			<%= link_to(user_path(@user.id, query: params[:query], impression: params[:impression])) do %>
				<%= icon('compress') %>
			<% end %>
		</div>		
	</div>
	<%= render 'users/graph_full' %>
<% else %>

<% provide(:title, @user.username) %>

<div class="row">
	<div class ="col-md-3">
		<div id="profile-left-sidebar">
			<div class="dashboard white-panel dashboard-avatar-container">
				<div class ="profile-upper-background">
				</div>
				
<!--					<%= gravatar_for @user %>	-->
					<% if current_user == @user %>
						<%= link_to edit_user_registration_path do %>
							<% if @user.avatar_file_name.nil? %>
								<div class="dashboard-avatar-default">
									<p><%= @user.username.first.upcase %></p>
								</div>
							<% else %>
								<div class="dashboard-avatar">
									<%= image_tag @user.avatar.url(:medium), class: "img-center" %>
								</div>
							<% end %>
						<% end %>
					<% else %>
						<% if @user.avatar_file_name.nil? %>
							<div class="dashboard-avatar-default">
								<p><%= @user.username.first.upcase %></p>
							</div>
						<% else %>
							<div class="dashboard-avatar">
								<%= image_tag @user.avatar.url(:medium), class: "img-center" %>
							</div>
						<% end %>
					<% end %>
				
				<div class="dashboard-usernames black-links">
					<div class="dashboard-usernames-name">
						<%= link_to @user.name, @user %>
					</div>
					<div class="dashboard-usernames-handle">
						<%= link_to "@#{@user.username}", @user %>
					</div>
				</div> 
				<div class="dashboard-stats">
					<div class="dashboard-stats-left">
						<%= link_to @user do %>
							<span class="stat-header">DREAMS</span> <br />
							<span class="stat-number"><%= @user.dreams.count %></span>
						<% end %>

					</div>
					<div class="dashboard-stats-middle">
						<%= link_to following_user_path(@user) do %>
							<span class="stat-header">FOLLOWING</span> <br />
							<% following_id = "following_#{@user.id}" %>
							<span id="<%= following_id %>" class="stat-number"><%= @user.following.count %></span>
						<% end %>		
					</div>					
					<div class="dashboard-stats-right">
						<%= link_to followers_user_path(@user) do %>
							<span class="stat-header">FOLLOWERS</span> <br />
							<% followers_id = "followers_#{@user.id}" %>
							<span id="<%= followers_id %>" class="stat-number"><%= @user.followers.count %></span>
						<% end %>			
					</div>

				</div>
				<%= render 'follow_form' if user_signed_in? %>
			
			</div>
	
	<!--
			<div data-spy="affix" data-offset-top="240">
	-->
			<div>
				<% if @user.dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to(user_path(@user.id, graph: true, query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Fullscreen"}) do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<div id="profile-graph2">
						<%= render(
							partial: 'users/graph',
							locals: { graph_text: @graph_text }
						) %>
					</div>

				<% end %>

				<div id="emotion-listing">
					<%= render(
						partial: 'users/emotions',
						locals: { emotions: @emotions }
					) %>
				</div>

				<div id="hash-listing">
					<%= render(
						partial: 'users/tags',
						locals: { hashes: @hashes }
					) %>
				</div>

				<% if @user == current_user %>
					<div id="name-listing">
						<%= render(
							partial: 'dreams/screennames',
							locals: { screennames: @screennames }
						) %>
					</div>
				<% end %>
	
<!--
					<% if @user == current_user %>

						<% @user.hash_freq.each do |hashtag_id, freq| %>
							<%= link_to user_path(@user.id, hashtag: Hashtag.find(hashtag_id).name), { :class => "btn user-hash-link hashtag-color" } do %>
								#<%= Hashtag.find(hashtag_id).name %>
								(<%= freq %>)
							<% end %>
						<% end %>					

					<% else %>
			
						<% @user.hash_freq_public.each do |hashtag_id, freq| %>
							<%= link_to user_path(@user.id, hashtag: Hashtag.find(hashtag_id).name), { :class => "btn user-hash-link hashtag-color" } do %>
								<%= Hashtag.find(hashtag_id).name %>
								(<%= freq %>)
							<% end %>
						<% end %>

					<% end %>	
-->
	
				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<% if params[:hashtag] %>
			<h3 class="content-title">#<%= params[:hashtag] %></h3>
		<% end %>

		<div class="dream-tabs">
			<% if params[:sort] == "trending" %>
				<ul class="nav nav-tabs">
			    <li role="presentation" class="active"><%= link_to "Trending", user_path(@user.id, sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "New", user_path(@user.id, sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "Dreamed", user_path(@user.id, sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>
			<% elsif params[:sort] == "submitted" %>	
				<ul class="nav nav-tabs">
			    <li role="presentation"><%= link_to "Trending", user_path(@user.id, sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation" class="active"><%= link_to "New", user_path(@user.id, sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "Dreamed", user_path(@user.id, sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>
			<% elsif params[:sort] == "dreamed" %>	
				<ul class="nav nav-tabs">
			    <li role="presentation"><%= link_to "Trending", user_path(@user.id, sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "New", user_path(@user.id, sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation" class="active"><%= link_to "Dreamed", user_path(@user.id, sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>		
			<% else %>	
				<ul class="nav nav-tabs">
			    <li role="presentation"><%= link_to "Trending", user_path(@user.id, sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation"><%= link_to "New", user_path(@user.id, sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
			    <li role="presentation" class="active"><%= link_to "Dreamed", user_path(@user.id, sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				</ul>										
			<% end %>
		</div>

			<div id="filter-block">
				<%= form_for_filterrific @filterrific do |f| %>
				
						
						<%= f.text_field(
							:search,
							placeholder: "Search...",
							class: 'filterrific-periodically-observed'
						) %>

					
						<%= f.select(
							:with_emotion_id,
							@filterrific.select_options[:with_emotion_id],
							{ include_blank: 'Emotion' },
							class: "select-js"
						) %>

				
						<%= f.select(
							:impression,
							[['Normal', 1], ['Big', 2], ['Huge', 3]],
							{ include_blank: 'Impact' },
							class: "select-js",
						) %>
				
						<%= link_to(reset_filterrific_url) do %>
							<%= icon('times') %>
						<% end %>
						<%= render(
							partial: 'dreams/list_count',
							locals: { dreams: @dreams }
						) %>	

						
					<div>


						
						<%= render_filterrific_spinner %>
					</div>
					<%# add an automated spinner to your form when the list is refreshed %>
					
				<% end %>
			</div>
			


				<%= render(
					partial: 'users/list',
					locals: { dreams: @dreams }
				) %>




			<%= button_tag(:id => "load-more", :class => "btn btn-primary") do %>
				<%= icon('plus') %>
				<span id="load-more-text">load more</span>
			<% end %>			



				<% if @user.dreams.any? %>
				
				<% elsif current_user == @user %>
					<%= render 'dreams/firstnew' %>
				<% end %>
		
	</div>
</div>

<% end %>

