<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= @user.name %>'s <%= impression_status() %> dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<div id="full-screen-icon" rel="tooltip" data-toggle="tooltip" title="Minimize">
			<%= link_to(user_path(@user.id, query: params[:query], impression: params[:impression])) do %>
				<%= icon('compress') %>
			<% end %>
		</div>		
	</div>
	<%= render 'users/graph_full' %>
<% else %>

<% provide(:title, @user.username) %>

<div class="row">
	<div class ="col-md-3">
		<div id="profile-left-sidebar">
			<div class="dashboard white-panel dashboard-avatar-container">
				<div class ="profile-upper-background">
				</div>
				<div class="dashboard-avatar">
<!--					<%= gravatar_for @user %>	-->
					<% if current_user == @user %>
						<%= link_to edit_user_registration_path do %>
							<%= image_tag @user.avatar.url(:medium), class: "img-center" %>
						<% end %>
					<% else %>
						<%= image_tag @user.avatar.url(:medium), class: "img-center" %>
					<% end %>
				</div>
				<div class="dashboard-usernames black-links">
					<div class="dashboard-usernames-name">
						<%= link_to @user.name, @user %>
					</div>
					<div class="dashboard-usernames-handle">
						<%= link_to "@#{@user.username}", @user %>
					</div>
				</div> 
				<div class="dashboard-stats">
					<div class="dashboard-stats-left">
						<span class="stat-header">DREAMS</span> <br />
						<span class="stat-number"><%= @user.dreams.count %></span>
					</div>
	<!--
					<div class="dashboard-stats-right">
						<span class="stat-header">FOLLOWING</span> <br />
						<span class="stat-number">11</span>
					</div>
	-->
				</div>

			</div>
			<div data-spy="affix" data-offset-top="245">
				<% if @user.dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to(user_path(@user.id, graph: true, query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", title: "Fullscreen"}) do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<%= render 'users/graph' %>
				<% end %>
				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<% if @user.dreams.any? %>
			<div>
				<% if params[:query] %>
					<h3 class="content-title">Results for <strong><%= params[:query] %></strong></h3>
				<% else %>
					<h3 class="content-title">Dreams</h3>
				<% end %>
				<ul class="nav nav-pills nav-pills-inline" role="tablist">
					<% if params[:impression] == '2' %>
						<li><%= link_to "All", user_path(@user.id, query: params[:query]) %></li>
						<li class="active"><%= link_to "Big", user_path(@user.id, query: params[:query], impression: 2) %></li>
						<li><%= link_to "Huge", user_path(@user.id, query: params[:query], impression: 3) %></li>
					<% elsif params[:impression] == '3' %>
						<li><%= link_to "All", user_path(@user.id, query: params[:query]) %></li>
						<li><%= link_to "Big", user_path(@user.id, query: params[:query], impression: 2) %></li>
						<li class="active"><%= link_to "Huge", user_path(@user.id, query: params[:query], impression: 3) %></li>
					<% else %>
						<li class="active"><%= link_to "All", user_path(@user.id, query: params[:query]) %></li>
						<li><%= link_to "Big", user_path(@user.id, query: params[:query], impression: 2) %></li>
						<li><%= link_to "Huge", user_path(@user.id, query: params[:query], impression: 3) %></li>
					<% end %>
				</ul>
			</div>
			<ol class="list-unstyled dreams" id ="user-dreams">
				<%= render @dreams %>
			</ol>
			<!-- renderer parameter is needed by will_paginate-boostrap gem -->
			<%= will_paginate @dreams, renderer: BootstrapPagination::Rails %>
		<% elsif current_user == @user %>
			<%= render 'dreams/firstnew' %>
		<% end %>
	</div>
</div>

<% end %>