<% provide(:title, @hashtag.name) %>


<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= impression_status().titleize %>
			<% unless params[:impression] %>
				All
			<% end %>
			dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<%= link_to dreams_path(query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Minimize"} do %>
			<%= icon('compress') %>
		<% end %>	
	</div>
	<%= render 'dreams/graph_full' %>

<% else %>

<div class="row">
	<div class ="col-md-3">
		<div id="profile-left-sidebar">
			<div>
				<% if @dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to hashtag_path(@hashtag.id, graph: true, impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Fullscreen"} do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<div id="profile-graph2">
						<%= render(
							partial: 'dreams/graph',
							locals: { graph_text: @graph_text }
						) %>
					</div>
				<% end %>

				<div id="emotion-listing">
					<%= render(
						partial: 'dreams/emotions',
						locals: { emotions: @emotions }
					) %>
				</div>					

				<div id="hash-listing">
					<%= render(
						partial: 'dreams/tags',
						locals: { hashes: @hashes }
					) %>
				</div>

				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div>
			<h3 class="content-title">#<%= @hashtag.name %></h3>

			<div class="dream-tabs">
				<% if params[:sort] == "trending" %>
					<ul class="nav nav-tabs">
				    <li role="presentation" class="active"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
					</ul>
				<% elsif params[:sort] == "submitted" %>	
					<ul class="nav nav-tabs">
				    <li role="presentation"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation" class="active"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
					</ul>
				<% elsif params[:sort] == "dreamed" %>	
					<ul class="nav nav-tabs">
				    <li role="presentation"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation" class="active"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
					</ul>		
				<% else %>	
					<ul class="nav nav-tabs">
				    <li role="presentation"><%= link_to "Trending", dreams_path(sort: 'trending'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation"><%= link_to "New", dreams_path(sort: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
				    <li role="presentation" class="active"><%= link_to "Dreamed", dreams_path(sort: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
					</ul>										
				<% end %>
			</div>			

			<div id ="filter-block">
			<%= form_for_filterrific @filterrific do |f| %>
			
					<%= f.text_field(
						:search,
						placeholder: 'Search...',
						class: 'filterrific-periodically-observed'
					) %>									
			
		
					<%= f.select(
						:with_emotion_id,
						@filterrific.select_options[:with_emotion_id],
						{ include_blank: 'Emotion' },
						class: "select-js"
					) %>
	
			
					<%= f.select(
						:impression,
						[['Normal', 1], ['Big', 2], ['Huge', 3]],
						{ include_blank: 'Impact' },
						class: "select-js"
					) %>
	
					<%= link_to(reset_filterrific_url) do %>
						<%= icon('times') %>
					<% end %>	

				<div>
					<%= render_filterrific_spinner %>
				</div>
		
			<% end %>

			<%= render(
				partial: 'dreams/list',
				locals: { dreams: @dreams, dreams2: @dreams2, page_number: @page_number }
			) %>

			<%= button_tag(:id => "load-more2", :class => "btn btn-primary") do %>
				<%= icon('plus') %>
				<span id="load-more-text">load more</span>
			<% end %>		



		</div>




	</div>
</div>

<% end %>