<% provide(:title, @screenname.name) %>


<% if params[:graph] %>
	<div id="graph-full" class="white-panel">
		<h3 class="graph-title"><%= impression_status().titleize %>
			<% unless params[:impression] %>
				All
			<% end %>
			dreams
			<% if params[:query] %>
			about <strong><%= params[:query] %></strong>
			<% end %>
		</h3>
		<%= link_to dreams_path(query: params[:query], impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Minimize"} do %>
			<%= icon('compress') %>
		<% end %>	
	</div>
	<%= render 'dreams/graph_full' %>

<% else %>

<div class="row">
	<div class ="col-md-3">
		<div id="profile-left-sidebar">
			<div data-spy="affix" data-offset-top="23">
				<% if @dreams.any? %>
					<div id="profile-graph" class="white-panel">
						<%= link_to screenname_path(@screenname.id, graph: true, impression: params[:impression]), { id: 'full-screen-icon', "data-toggle" => "tooltip", "data-container" => "body", title: "Fullscreen"} do %>
							<%= icon('arrows-alt') %>
						<% end %>
					</div>
					<div id="profile-graph2">
						<%= render 'dreams/graph' %>
					</div>
				<% end %>

				<div id="hash-listing">
					<%= render(
						partial: 'dreams/tags',
						locals: { hashes: @hashes }
					) %>
				</div>
				<div id="name-listing">
					<%= render(
						partial: 'dreams/screennames',
						locals: { screennames: @screennames }
					) %>
				</div>

				<div id="links-panel" class="white-panel">
					<%= link_to "Home", root_path %>
					<%= link_to "About", about_path %>
					<%= link_to "Contact", contact_path %>
					<%= image_tag("footer_stripe.jpg", width: '243', height: '10', class: 'rainbow-bar') %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div>
			<h3 class="content-title">@<%= @screenname.name %></h3>


			<%= form_for_filterrific @filterrific do |f| %>
			
					<div class="dropdown-title">
						Search
					</div>					
					<%= f.text_field(
						:search,
						class: 'filterrific-periodically-observed'
					) %>

					<div class="dropdown-title">
						Sort by
					</div>
					<div class="dropdown sort-dropdown">

						<% if params[:time] == "today" %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Popular today
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, time: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>
						<% elsif params[:time] == "week" %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Popular this week
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, time: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>
						<% elsif params[:time] == "month" %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Popular this month
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, time: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>				  
				
						<% elsif params[:time] == "year" %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Popular this year
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, time: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>
						<% elsif params[:time] == "submitted" %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    New
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, ime: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>
						<% elsif params[:time] == "dreamed" %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Date dreamed
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, time: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>						  				  
						<% else %>
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    Popular this week
						    <%= icon('caret-down') %>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
						    <li role="presentation"><%= link_to "Popular today", screenname_path(@screenname.id, time: 'today'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this week", screenname_path(@screenname.id, time: 'week'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this month", screenname_path(@screenname.id, time: 'month'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Popular this year", screenname_path(@screenname.id, time: 'year'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "New", screenname_path(@screenname.id, time: 'submitted'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						    <li role="presentation"><%= link_to "Date dreamed", screenname_path(@screenname.id, time: 'dreamed'), html_options = { :role => "menuitem", :tabindex => "-1" } %></li>
						  </ul>
						<% end %>
					</div>						
			
		
					<div class="dropdown-title">
						Emotion
					</div>
				
					<%= f.select(
						:with_emotion_id,
						@filterrific.select_options[:with_emotion_id],
						{ include_blank: '- Any -' },
						class: "form-control dropdown sort-dropdown"
					) %>
	
			
					<div class="dropdown-title">
						Impact
					</div>

					<%= f.select(
						:impression,
						[['Normal', 1], ['Big', 2], ['Huge', 3]],
						{ },
						class: "form-control dropdown sort-dropdown"
					) %>
	
				<div>
					<%= link_to('Reset filters', reset_filterrific_url) %>
				</div>
				<%# add an automated spinner to your form when the list is refreshed %>
				<%= render_filterrific_spinner %>
		
			<% end %>

			<%= render(
				partial: 'dreams/list',
				locals: { dreams: @dreams }
			) %>





		</div>




	</div>
</div>

<% end %>