<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-jhad">
      	<%= nav_link "All", "rocket", root_path %>
      	<% if user_signed_in? %>
        	<%= nav_link "Me", "user", current_user %>
        	<%= nav_link "Feed", "flash", feed_path %>
        <% end %>
  <!--      <%= nav_link "All dreams", "rocket", dreams_path %>	-->
        <%= nav_link "Hashtags", "slack", hashtags_path %>
      </ul>     

      <ul class="nav navbar-nav navbar-right">
				<%= form_tag search_path, class: "navbar-form search-form", id: "header-search", method: "get", role: "search" do %>					
							<%= text_field_tag :query, params[:query], class: "form-control", id: "search-bar", placeholder: "Search" %>
									<%= button_tag class: "btn", id: "search-button" do %>
							<%= icon('search') %>
						<% end %>				
				<% end %>					

				<% if user_signed_in? %>
					<%= link_to(new_dream_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => 'btn btn-primary btn-square', :id => "add-dream-button"}) do %>
						<%= icon('plus') %>
						dream
					<% end %>
					
					<%= link_to(notifications_path, :class => 'btn btn-default btn-alt notification-button', :id => "notification-button") do %>
						<%= icon('bell') %>
						<% if current_user.notifications.where(seen: false).length > 0 %>
							<span><%= current_user.notifications.where(seen: false).length %></span>
						<% end %>	
					<% end %>

					<%= link_to(conversations_path, :class => 'btn btn-default btn-alt notification-button', :id => "notification-button") do %>
						<%= icon('envelope') %>
					<% end %>
					
				<% else %>
					<%= link_to(new_user_session_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-login', :class => "btn btn-primary btn-square", :id => "signin-button"}) do %>

						<%= icon('user') %>

						Sign in
					<% end %>				
				<% end %>

				<div class="btn-group">
					<button type="button" class="btn btn-default navbar-btn btn-lg btn-alt dropdown-toggle btn-bars" data-toggle="dropdown">

						<%= icon('bars', '', id: 'settings-button') %>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to "Dreamers", users_path %></li>
						<li><%= link_to "Help",		 help_path %></li>
						
						<% if user_signed_in? %>
							<li><%= link_to "Notifications", notifications_path %></li>
					    <li><%= link_to "Edit account", edit_user_registration_path %></li>	  
					    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					  <% end %>
					</ul>
				</div>
      </ul>
    </div><!-- /.navbar-collapse -->


				<%= link_to(root_path, class: "cloud_header") do %>
					<%= image_tag("dream_journal_logo4.png") %>
				<% end %>
		
			


	</div>
</nav>
