<header class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- <%= link_to image_tag("logo.png", alt: "Just Had a Dream"), root_path, id: "logo" %> -->
		<div id="site_header">
			<%= link_to(root_path) do %>
				<span>just had a dream</span>
			<% end %>
		</div>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<!-- <li>Logged in as <strong><%= current_user.username %></strong></li> -->
					<!-- <li><%= link_to "Post dream", new_dream_path %></li> -->
					<div class="btn-group">
						<button type="button" class="btn btn-default navbar-btn btn-lg">
							<%= link_to(new_dream_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window'}) do %>
								<div id="add-dream-plus">
									<span class="glyphicon glyphicon-plus"></span>
								</div>
								<div id="add-dream-button">dream</div>
							<% end %>
						</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default navbar-btn btn-lg dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-align-justify"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Edit profile", edit_user_registration_path %></li>
								<li><%= link_to "Users",	 users_path %></li>
						    <li class="divider"></li>
						    <li><%= link_to "Help",		 help_path %></li>
						    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
							</ul>
						</div>
					</div>
				<% else %>
					<li><%= link_to "Home",		 root_path %></li>
					<li><%= link_to "Users",	 users_path %></li>
					<li><%= link_to "Help",		 help_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter) %></li>
				<% end %>
			</ul>
		</nav>
		<div id="cloud_header">
			<%= image_tag("cloud.png") %>
		</div>
	</div>
	

</header>