<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>			

    	<%= link_to(root_path, class: "cloud_header2") do %>
				<%= image_tag("dream_journal_logo4.png") %>
			<% end %>

		</div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      


   

      <ul class="nav navbar-nav navbar-right">
      	<!--
				<%= form_tag search_path, class: "navbar-form search-form", id: "header-search", method: "get", role: "search" do %>					
							<%= text_field_tag :query, params[:query], class: "form-control", id: "search-bar", placeholder: "Search" %>
									<%= button_tag class: "btn", id: "search-button" do %>
							<%= icon('search') %>
						<% end %>				
				<% end %>		
				-->			

				<% if user_signed_in? %>
					<%= link_to(new_dream_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => 'btn btn-primary btn-square', :id => "add-dream-button"}) do %>
						<%= icon('plus') %>
						dream
					<% end %>
					
					<%= link_to(notifications_path, :class => 'btn btn-default btn-alt notification-button', :id => "notification-button") do %>
						<%= icon('bell') %>
						<% if current_user.notifications.where(seen: false).length > 0 %>
							<span><%= current_user.notifications.where(seen: false).length %></span>
						<% end %>	
					<% end %>

					<%= link_to(conversations_path, :class => 'btn btn-default btn-alt notification-button', :id => "notification-button") do %>
						<%= icon('envelope') %>
						<% if current_user.mailbox.notifications(:read => false).length > 0 %>
							<span><%= current_user.mailbox.notifications.length %></span>
						<% end %>							
					<% end %>
					
				<% else %>
					<%= link_to(new_registration_path(resource_name), { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-signup', :class => "btn btn-primary btn-square", :id => "signin-button"}) do %>

						Sign up
					<% end %>						
					<%= link_to(new_user_session_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window-login', :class => "btn btn-primary btn-square", :id => "signin-button"}) do %>

						<%= icon('user') %>

						Log in
					<% end %>				
				<% end %>


				<div class="btn-group">
					<button type="button" class="btn btn-default navbar-btn btn-lg btn-alt dropdown-toggle btn-bars" data-toggle="dropdown">

						<%= icon('bars', '', id: 'settings-button') %>
					</button>
					<ul class="dropdown-menu" role="menu">
						<% if user_signed_in? %>
						
							<li><%= link_to "About",		 about_path %></li> 
							<li><%= link_to "Dreamers", users_path %></li> 
					    <li><%= link_to "Edit profile", edit_user_registration_path %></li>
					    <li><%= link_to "Help",		 help_path %></li>
					    <li><%= link_to "Contact",		 contact_path %></li> 
					    <li><%= link_to "Logout", destroy_user_session_path%></li>
					  <% else %>

					    <li><%= link_to "Dreamers", users_path %></li>
					    <li><%= link_to "Help",		 help_path %></li>
					    <li><%= link_to "Contact",		 contact_path %></li> 
					  <% end %>
					</ul>
				</div>
      </ul>

      <% if user_signed_in? %>
      	<ul class="nav navbar-nav navbar-jhad">

      	
	        	<%= nav_link "Me", "user", current_user %>
	        	<%= nav_link "Feed", "flash", feed_path %>
	        	<%= nav_link "Blog", "book", articles_path %>
	        	<%= nav_link "Hashtags", "slack", hashtags_path %>
	        	<%= nav_link "FAQ", "question-circle", faq_path %>
	        	<%= nav_link "Resources", "university", resources_path %>
	        	<%= nav_link "Community", "comments", "http://community.dreamly.io/session/sso?return_path=%2F" %>
        	</ul> 
       <% else %>
     			<ul class="nav navbar-nav navbar-jhad navbar-jhad-visitor">
     				<%= nav_link "About", "rocket", about_path %>
     				<%= nav_link "Blog", "book", articles_path %>
	        	<%= nav_link "Hashtags", "slack", hashtags_path %>
	        	<%= nav_link "FAQ", "question-circle", faq_path %>
	        	<%= nav_link "Resources", "university", resources_path %>
	        	<%= nav_link "Community", "comments", "http://community.dreamly.io" %>
	        	
	        </ul>
      <% end %>
  <!--      <%= nav_link "All dreams", "rocket", dreams_path %>	-->
        

       


    </div><!-- /.navbar-collapse -->


	</div>
</nav>
