<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <title><%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="container-fluid">
		<%= render 'layouts/header' %>
		

			<% flash.each do |type, msg| %>
				<div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<%= msg %>
				</div>
			<% end %>


			<!-- Hidden div which serves as modal popup -->
			<div id="modal-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<%= render 'dreams/new' %>
			</div>

			<div id="modal-window-edit-dream" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<%= render 'dreams/edit' %>
			</div>			

		
			<div id="modal-window-login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<%= render 'devise/sessions/new' %>
			</div>
			<div id="modal-window-signup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<%= render 'devise/registrations/new' %>

			</div>		
			<%= yield %>

		</div>

		<div style="margin-left:400px;">
			<%= debug(params) if Rails.env.development? %>
		</div>

	</body>
</html>
